* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 45vw;
  height: 45vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.quadrato {
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  display: table;
  cursor: pointer;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}

h1 {
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}
